body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #202124;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 6%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(32, 33, 36, 1);
}

header > * {
  width: 50%;
  display: flex;
  padding: 1.8em;
  font-size: 0.7em;
  gap: 20px;
}

/* desktop - mobile nav hidden */
header > nav:first-child > a:nth-child(3),
header > nav:first-child > a:nth-child(4) {
  display: none;
}

header > nav:nth-child(2) {
  justify-content: flex-end;
  align-items: center;
  font-weight: 200;
  letter-spacing: 0.1px;
}

nav > a {
  color: #bdc1c6;
  text-decoration: none;
}

nav > a:hover {
  text-decoration: underline;
}

header > nav:nth-child(2) > a {
  color: white;
}

header > nav:nth-child(2) > button {
  height: 38px;
  width: 100px;
  background-color: #8ab4f8;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: none;
  color: #202124;
  font-size: 1em;
  letter-spacing: 0.4px;
}

header > nav:nth-child(2) > button:hover {
  cursor: pointer;
}

main {
  width: 100%;
  min-height: calc(100vh - 16vh);
}

footer {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0;
  background-color: #171717;
  font-size: 0.75em;
}
footer > * {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  height: 50%;
  justify-content: space-between;
  align-items: center;
  padding-left: 2.4em;
  padding-right: 2.4em;
}
section > a {
  color: #9aa0a6;
  text-decoration: none;
}

section > a:hover {
  text-decoration: underline;
}

footer > div > p {
  color: #9aa0a6;
  margin: 0;
}

footer > nav {
  display: flex;
}

footer > div {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #292929;
}

nav > section {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 25px;
}

nav > section:nth-child(2) {
  justify-content: center;
}

nav > section:nth-child(3) {
  justify-content: flex-end;
}
